.nav.nav-list.nav-tree {  // ul
  ul {
    margin: 0 0 0 34px;
    list-style: none;
  }
  li {
    position: relative;
  }
  > li > a:hover {
    text-decoration: underline;
    background-color: transparent;
  }
}
