<%= simple_form_for(@user, :url => update_password_admin_site_user_path(resource.site, resource), :html => {:method => :put, :class => "form-horizontal"}) do |f| %>
    <%= f.error_notification %>
    <%= render :partial => 'admin/users/password_fields', :locals => {:f => f} %>
    <div class='form-actions'>
      <%= render "model_form_buttons", :f => f %>
    </div>
<% end %>  