<div class="color-sheme-group">
  <span class="color-sheme" style="background-color: #000" id="black"></span>
  <span class="color-sheme" style="background-color: #222" id="grayDarker"></span>
  <span class="color-sheme" style="background-color: #333" id="grayDark"></span>
  <span class="color-sheme" style="background-color: #555" id="gray"></span>
  <span class="color-sheme" style="background-color: #999" id="grayLight"></span>
  <span class="color-sheme" style="background-color: #eee" id="grayLighter"></span>
  <span class="color-sheme" style="background-color: #fff" id="white"></span>
</div>
<div class="color-sheme-group">
  <span class="color-sheme" style="background-color: #043948;" id="black"></span>
  <span class="color-sheme" style="background-color: #00707b" id="grayDarker"></span>
  <span class="color-sheme" style="background-color: #e7cba3" id="grayDark"></span>
  <span class="color-sheme" style="background-color: #618442" id="gray"></span>
  <span class="color-sheme" style="background-color: #999" id="grayLight"></span>
  <span class="color-sheme" style="background-color: #eee" id="grayLighter"></span>
  <span class="color-sheme" style="background-color: #9a9661" id="white"></span>
</div>
<div class="content" id="themeChooser">
  <ul>

    <li id="theme_0">
      <dl class="selfClear">

        <dd style="background-color: #043948;"></dd>

        <dd style="background-color: #00707b;"></dd>

        <dd style="background-color: #e7cba3;"></dd>

        <dd style="background-color: #9a9661;"></dd>

      </dl>
      <label>Olive Tree</label>
    </li>

    <li id="theme_1">
      <dl class="selfClear">

        <dd style="background-color: #618442;"></dd>

        <dd style="background-color: #89a55a;"></dd>

        <dd style="background-color: #ede899;"></dd>

        <dd style="background-color: #e97900;"></dd>

      </dl>
      <label>Organic Panic</label>
    </li>

    <li id="theme_2">
      <dl class="selfClear">

        <dd style="background-color: #322d4d;"></dd>

        <dd style="background-color: #694f80;"></dd>

        <dd style="background-color: #f2e9a8;"></dd>

        <dd style="background-color: #b2a78c;"></dd>

      </dl>
      <label>Rare Sands</label>
    </li>

    <li id="theme_3">
      <dl class="selfClear">

        <dd style="background-color: #363540;"></dd>

        <dd style="background-color: #b4bf8a;"></dd>

        <dd style="background-color: #7f8c4f;"></dd>

        <dd style="background-color: #526f92;"></dd>

      </dl>
      <label>Ideal Sans</label>
    </li>

    <li id="theme_4">
      <dl class="selfClear">

        <dd style="background-color: #4b4044;"></dd>

        <dd style="background-color: #d5e9e7;"></dd>

        <dd style="background-color: #72a6a6;"></dd>

        <dd style="background-color: #d9653b;"></dd>

      </dl>
      <label>Moderne</label>
    </li>

    <li id="theme_5">
      <dl class="selfClear">

        <dd style="background-color: #556c90;"></dd>

        <dd style="background-color: #425470;"></dd>

        <dd style="background-color: #d9fffd;"></dd>

        <dd style="background-color: #c25130;"></dd>

      </dl>
      <label>Runway</label>
    </li>

    <li id="theme_6">
      <dl class="selfClear">

        <dd style="background-color: #c7c7c7;"></dd>

        <dd style="background-color: #ffffff;"></dd>

        <dd style="background-color: #444444;"></dd>

        <dd style="background-color: #b0b0b0;"></dd>

      </dl>
      <label>Crystalline</label>
    </li>

    <li id="theme_7" class="">
      <dl class="selfClear">

        <dd style="background-color: #2E2E2E;"></dd>

        <dd style="background-color: #000000;"></dd>

        <dd style="background-color: #eeeeee;"></dd>

        <dd style="background-color: #b0b0b0;"></dd>

      </dl>
      <label>Nero</label>
    </li>

  </ul>
</div>