var new_modal = $("<div id='new_modal' class='modal fade'><div class='modal-header'><a class='close' data-dismiss='modal'>&times;</a><h3 class='modal-title'><%= escape_javascript(t(:"admin.#{controller_name}.titles.new")) %></h3></div><div class='modal-body'><%= escape_javascript(render('model_form', :remote => true)) %></div></div>");
new_modal.appendTo('body').modal({backdrop:'static', show:true}).bind('hidden', function (e) {
    $(this).remove();
});