<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html lang="en" class="ie6 ielt7 ielt8 ielt9"><![endif]--><!--[if IE 7 ]>
<html lang="en" class="ie7 ielt8 ielt9"><![endif]--><!--[if IE 8 ]>
<html lang="en" class="ie8 ielt9"><![endif]--><!--[if IE 9 ]>
<html lang="en" class="ie9"> <![endif]--><!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en"><!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>Coming Soon - Ambassador</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/bootstrap-responsive.min.css" rel="stylesheet">
  <link href="css/site.css" rel="stylesheet">
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body>
<div id="coming-soon-page" class="container">
  <div id="intro">
    <h1>Ambassador</h1>

    <p class="primary">A clean coming soon page for your website or app.</p>
  </div>
  <div id="hero-shot">
    <img src="img/screenshot.png" alt="Akira Screenshot"/>
  </div>
  <div id="subscribe">
    <p class="primary dulled">Enter your email to get notified when we launch.</p>

    <form class="well form-inline">
      <input type="text" class="input-medium" placeholder="Email"/>
      <button type="submit" class="btn">Submit</button>
    </form>
    <p class="dulled">We will never spam you.</p>
  </div>
</div>
</body>
</html>