<ul class='nav nav-social'>
  <% if site.show_twitter_button %>
    <li class="twitter">
      <button type='button' href='#' class='btn btn-profile-twitter'><i class='icon-twitter'></i></button>
    </li>
  <% end %>
  <% if site.show_pinterest_button %>
    <li class="pinterest">
      
    </li>
  <% end %>
  <% if site.show_google_plus_button %>
    <li class="gplus">
      <button type='button' href='#' class='btn btn-profile-google-plus'><i class='icon-google-plus'></i></button>
    </li>
  <% end %>
  <% if site.show_facebook_like_button %>
    <li class="facebook"<button type='button' href='#' class='btn btn-profile-pinterest'><i class='icon-pinterest'></i></button>>
      <button type='button' href='#' class='btn btn-profile-facebook'><i class='icon-facebook'></i></button>

    </li>
  <% end %>
  <button type='button' href='#' class='btn btn-profile-envelope'><i class='icon-envelope'></i></button>
</ul>





