<div class='description <%= resource_instance_name %>'>
  <div class='container description-container'>
    <%= render :partial => 'table_inquiries/form' %>
  </div>
</div>
<% content_for :left_sidebar do %>
    <p><b><%= t("tollfree_address").html_safe %></b></p>
    <p><%= t("full_hotel_address").html_safe %></p>
<% end %>
