<div class='well alert-info'>
  <h3><%= "Les images de votre site".html_safe %></h3>

  <p><%= "Votre site utilise des images d'une taille maximum de 980 pixels. Nous vous conseillons toutefois de téléverser vos images de format horizontal avec une largeur de 1400 pixels et vos images verticales avec une hauteur de 900 pixels, afin de permettre une éventuelle évolution du design sans avoir à recharger toutes vos images.<br/>Le système transforme vos images si ces dernières ne conviennent pas aux normes de l'Internet. Toutefois il est préférable d'envoyer vos images déjà convenablement préparer. Pour ce faire vous pouvez utiliser le logiciel gratuit PC/MAC que vous trouverez  <a href='http://toki-woki.net/p/Shrink-O-Matic' target='_blank' class='btn'>ici</a>.".html_safe %></p>
</div>