<div id='footer' class='row-fluid'>
  <div class="span12">
    <div class="footer-row-inner">
      <%= render 'pipe_menu', :mobile_behaviour => "show-on-mobile" %>
      <%= render 'tools_menu', :mobile_behaviour => "show-on-mobile" %>
    </div>
  </div>
</div>
<div id='copyright' class='row-fluid'>
  <div class="span12">
    <a id='site_by' href='http://www.joufdesign.com' target='_blank'>
      <%= t(:'site_by', :name => "Jouf Design").html_safe %>
    </a>
  </div>
</div>
            