iframe {
  border: none;
  height: 100%;
  width: 100%;
  position: relative;

}

iframe body {
  background: #fff;
}

.colorpicker.dropdown-menu {
  position: fixed;
}

span.color-sheme {
  display: inline-block;
  width: auto;
  min-width: 16px;
  height: 18px;
  padding: 4px 5px;
  font-weight: normal;
  line-height: 18px;
  text-align: center;
  text-shadow: 0 1px 0 white;
  vertical-align: middle;
  background-color: #EEE;
  border: 1px solid #CCC;
}

#themeChooser ul li {
  cursor: pointer;
  padding: 0;
  padding-left: 3px;
  display: block;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-bottom: 1px solid transparent;
  label {
    cursor: pointer;
    font-weight: 500;
    font-size: 12px;
    color: #777;
    margin: 0;
    display: block;
    line-height: 24px;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: middle;
  }
  dl {
    float: left;
    margin-right: 8px;
    margin-top: 3px;
    position: relative;
    dd {
      width: 10px;
      height: 18px;
      display: block;
      float: left;
      vertical-align: top;
      z-index: 1;
      &:first-child {
        -moz-border-radius: 2px 0 0 2px;
        -webkit-border-radius: 2px 0 0 2px;
        border-radius: 2px 0 0 2px;
      }
    }
  }
}

#properties_panel {
  z-index: 1;
  position: fixed;
  top: 50px;
  left: 10px;
  background-color: $white;
  .form-horizontal .control-group > label {
    width: 80px;
    padding-top: 5px;
    text-align: left;
    font-size: 11px;
  }

  .form-horizontal .controls {
    margin-left: 92px;
  }
  a.plus {
    float: right;
    display: block;
    width: auto;
    min-width: 16px;
    height: 18px;
  }
}

a#toogle-panel-btn {
  position: fixed;
  top: 50px;
  left: 10px;
  z-index: 2;
  font-size: 28px;
  line-height: 28px;
}